---
import Footer from "../components/Footer.astro";
import WhasappButton from "../components/ui/WhasappButton.astro";
import SEO from "../components/SEO.astro";
import type { Preload } from "@/types/Preload";

interface Props {
  title: string;
  description: string;
  preload?: Array<Preload>;
  canonical?: string;
  image?: string;
}

const { title, description, preload, canonical, image } = Astro.props as Props;
---

<!doctype html>
<html lang="es">
  <head>
    <SEO 
      title={title} 
      description={description} 
      preload={preload} 
      canonical={canonical} 
      image={image} 
    />
  </head>
  <body class="flex flex-col min-h-screen">
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
    <WhasappButton />
  </body>
</html>

<style is:global>
  html,
  body,
  :root {
    font-family: "Archivo", sans-serif;
    background-color: #fffffa;
    @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap");
  }
</style>